registry=https://registry.npmjs.org/
@mdb:registry=https://artifactory.corp.mongodb.com/artifactory/api/npm/npm/
//artifactory.corp.mongodb.com/artifactory/api/npm/npm/:_auth=dW5pdmVyc2l0eS1wbGF0Zm9ybTpBS0NwOGpRblV5UVVYR0NWRkZ3QllHVnNxakpQMnQxanVmSHFpbUZDcllUZ3hFbzZaZkthRmM1QkpMeVRRdUV3dm5GTmU5cGNv
//artifactory.corp.mongodb.com/artifactory/api/npm/npm/:email=university-platform
//artifactory.corp.mongodb.com/artifactory/api/npm/npm/:always-auth=true