@import '../../styles/variables.scss';

$table-row-bg: #F9FBFA;
$table-header-border: #E8EDEB; //3px 

// background: #FFFFFF;
// mix-blend-mode: multiply;
// /* Gray/Light 2 [NEW] */

// border: 1px solid #E8EDEB;
// box-shadow: 0px 1px 3px rgba(0, 30, 43, 0.3);

@mixin input {
  outline: 0;
  border-radius: 6px;
  border: 1px solid #889397;
}

.container {
  width: fit-content;

  .searchAll {
    @include input;
    padding: 6px 12px;
    width: 220px;
    margin-bottom: 24px;
  }

  .tableWrapper {
    padding: 24px;
    border: 1px solid #E8EDEB;
    box-shadow: 0px 4px 10px -4px rgba(0, 30, 43, 0.3);
    border-radius: 24px;
    width: fit-content;

    table {
      width: 100%;
      display: block;
      border-collapse: collapse;

      thead {
        th {
          text-align: left;
          padding: 8px 12px;

          .sortable {
            cursor: pointer;
          }

          &:first-of-type {
            text-align: center;
          }

          .select > input {
            &:hover {
              cursor: pointer;
            }
          }

          .age {
            text-align: right;
          }
        }
      }
  
      tbody {
        tr {
          height: 48px;
          max-height: 48px;
  
          &:nth-child(odd) {
            background-color: $table-row-bg;
          }
  
          td {
            padding: 8px 12px;

            &:not(.select) {
              width: 175px;
            }

            &.email {
              width: 220px;
              max-width: 220px;
            }

            &.age {
              text-align: right;
            }

            &.select {
              input {
                &:hover {
                  cursor: pointer;
                }
              }
            }
  
            .actionBtn {
              display: block;
              margin: 0 auto;
              padding: 6px 12px;
              text-transform: uppercase;
              font-weight: bold;
              border-radius: 4px;
              border: 1px solid $mongo-green;
              background-color: $mongo-spring-green;
              color: $mongo-dark-forest;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      .noResults {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .controls {
    display: flex;
    margin-top: 24px;
    align-items: baseline;
    justify-content: flex-end;

    .paginationBtn {
      border: none;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background-color: transparent;
      margin: 0 4px;
      transition: ease-in-out 0.3s;

      &:hover {
        cursor: pointer;
        background-color: $mongo-spring-green;
        border: 1px solid $mongo-green;
      }

      // there's a better way to do this
      &:disabled {
        &:hover {
          cursor: initial;
          border: none;
          background-color: transparent;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    .pageCount {
      display: flex;
      margin: 0 12px;

      div {
        margin-right: 8px;
      }
    }
  }
}